/*固定顶部*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 1rem;
 position: relative;
}

.header_logo {
    width: 100%;
    height: 1rem;
    color: #fff;
    text-align: center;
    font-size: .34rem;
    line-height: 1rem
}

.header_back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .24rem;
    width: .38rem;
    height: .38rem;
    line-height: .38rem;
    font-size: .38rem;
    color: #fff;
}
.header_back:hover{
    color: #fff;
}
/*登录注册*/
.login_div {
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .24rem;
    width: 100%;
    height: 1.1rem;
    border-bottom: .02rem solid #F2F3F7;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.login_ltext {
    width: 1rem;
    color: #414141;
    font-size: .3rem
}

 
 
.login_input {
    margin-left: .16rem;
    width: 5.5rem;
    height: 1rem;
    border: 0;
    font-size: 0.3rem;
}

.auth_input {
    margin-left: .16rem;
    width: 3.5rem;
    height: 1.1rem;
    border: 0
}

.agree_div {
    display: -webkit-flex;
    display: flex;
    padding-left: .16rem;
    height: .9rem;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center
}

.agree_select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .16rem;
    width: .32rem;
    height: .32rem;
    border: .02rem solid #f96;
    border-radius: .16rem
}

.agree_select.cur {
    background: #f96;
    background-size: .32rem
}
.agree_text {
    margin-top: .16rem;
    padding-left: .26rem;
    color: #656565;
    font-size: .28rem
}
.agree_text a{
    color: red
}

.auth_div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex: 1;
    flex: 1
}

.get_auth_code {
    display: -webkit-flex;
    display: flex;
    width: 2rem;
    height: .6rem;
    -webkit-border-radius: .3rem;
    border-radius: .3rem;
    background-color: #f96;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: .24rem;
    color: #fff;
    font-size: 0.3rem;
}

 

.register_action {
    display: -webkit-flex;
    display: flex;
    margin-left: .24rem;
    width: 7.02rem;
    height: .98rem;
    border-radius: .49rem;
    color: #fff;
    font-size: .36rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    margin-top: 0.78rem;
    background-color: #ddd;
    background: -moz-linear-gradient(top, #eee, #ddd);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));/*Safari4-5,chrome1-9 */
    background: -webkit-linear-gradient(top, #eee, #ddd);
    background: -o-linear-gradient(top, #eee, #ddd);
    background: -ms-linear-gradient(top, #eee, #ddd);
    background: linear-gradient(top, #eee, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#ddd',GradientType=1 );/*兼容IE5~IE9   */
}

.login_tab {
    display: -webkit-flex;
    display: flex;
    margin-bottom: .5rem;
    height: 1.1rem;
    border-bottom: .02rem solid #F2F3F7;
    -webkit-flex-direction: row;
    flex-direction: row
}

.register_div {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 5rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.register_text {
    color: #888;
    font-size: 0.24rem;
}

.login_tab li {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 50%;
    height: 1.1rem;
    font-size: .32rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.login_tab li.cur {
    color: #f96;
}
.login_tab li.cur:after{
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    bottom:0;
    left: 25%;
    border-bottom: 0.04rem solid #f96;
}
.login_show li{
    display: none;

}
.login_show .cur{
    display: block;
}

.gradient_bg{
    background-color: #999;
    background: -moz-linear-gradient(left, #ace, #f96);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#ace), to(#f96));/*Safari4-5,chrome1-9 */
    background: -webkit-linear-gradient(left, #ace, #f96);
    background: -o-linear-gradient(left, #ace, #f96);
    background: -ms-linear-gradient(left, #ace, #f96);
    background: linear-gradient(left, #ace, #f96);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999', endColorstr='#000',GradientType=1 );/*兼容IE5~IE9   */
}
:root .gradient_bg{filter:none;}



